.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(#fc5185, #3fc1c9);
}

.ant-card-body {
  display: grid;
  place-items: center;
  height: 82%;
  overflow: scroll;
}

.title {
  text-align: center;
}

.author {
  text-decoration: underline;
}

.author:hover {
  cursor: pointer;
}
